@import '../assets/colors';

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: end;
    max-width: 200px;
    height: 75px;
    cursor: pointer;
    grid-area: weather;

    &__container {
        display: flex;
        flex-direction: column;

        &_dir {
            &_inline {
                display: inline-flex;
                justify-content: center;
            }
        }
    }

    &__icon {
        width: 50px;
        height: 50px;
    }

    &__text {
        font-size: 25px;
        justify-self: center;
        align-self: center;
        user-select: none;

        &_type {
            &_location {
                font-size: 15px;
                color: $black;
                font-weight: bold;
            }

            &_description {
                color: $gray;
                font-size: 15px;
            }

            &_description-content {
                color: $black;
                font-size: 15px;
            }

            &_temperature {
                color: $black;
                font-size: 35px;
                user-select: none;
            }
        }
    }

    &__dropdown-treangle {
        display: none;
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 15px solid $white;
        cursor: default;
    }

    &__dropdown-content {
        display: none;
        position: absolute;
        background-color: $white;
        top: 75px;
        right: 0;
        width: 350px;
        height: 150px;
        border-radius: 5px;
        box-shadow: 2px 8px 8px 0px $shadow-color;
        cursor: default;
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__button {
        background-size: cover;
        background-image: url('/src/images/dotsBlack.svg');
        width: 20px;
        height: 20px;
    }

    &__location-input-container {
        display: none;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $white-with-opacity;
        width: 350px;
        height: 140px;
        justify-content: center;
        padding-top: 10px;
        border-radius: 5px;
    }

    &__location-input {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        font-size: 20px;
        height: 45px;
        width: 95%;
        padding: 0;
        background-color: $light-gray;
        border-radius: 3px;
        box-shadow: 0px 0px 10px 2px $shadow-color;
    }

    &__additional-content {
        display: flex;
        flex-direction: column;
    }

    &__temperature {
        display: flex;
        align-items: center;
    }
}

.show {
    display: block;
}

.show-location {
    display: flex;
}