$white: #ffffff;
$white-with-opacity: #ffffffcc;
$gray: #969292;
$light-gray: #f0f0f0;
$black: #000000;
$shadow-color: #00000033;
$loader-border: #0000001a;
$success_color: #83e03c;
$info_color: #4366ff;
$warning_color: #cac33c;
$error_color: #fd3f3f;